<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <!-- List page -->
    <div class="row">
        <!-- only show if logged in-->
        <div class="col-md-offset-3 col-md-10">
            <h1><%= title %></h1>
            <% if (typeof displayName == 'string' && displayName) { %>
                <a href="/concerts-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Concert
                </a>
                <br>
            <% } %>
            <br>
<!-- show basic info-->
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <% if (typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-2">Artist</th>
                        <th class="text-center col-2">Genre</th>
                        <th class="text-center col-1">Date</th>
                        <th class="text-center col-5">Location</th>
                        <th class="text-center col-1">Cost</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else { %>
                        <!-- do not show delete and edit -->
                        <th class="text-center col-2">Artist</th>
                        <th class="text-center col-2">Genre</th>
                        <th class="text-center col-1">Date</th>
                        <th class="text-center col-6">Location</th>
                        <th class="text-center col-1">Cost</th>
                    <% } %>
                </tr>

                <% if (Concertslist && Concertslist.length > 0) { %>
                    <% for (let count = 0; count < Concertslist.length; count++) { %>
                        <tr class="d-flex">
                            <% if (typeof displayName == 'string' && displayName) { %>
                                <td class="text-center col-2"><%= Concertslist[count].Artist %></td>
                                <td class="text-center col-2"><%= Concertslist[count].Genre %></td>
                                <td class="text-center col-1"><%= Concertslist[count].Date %></td>
                                <td class="text-center col-5"><%= Concertslist[count].Location %></td>
                                <td class="text-center col-1"><%= Concertslist[count].Cost %></td>
                                <td class="text-center col-1">
                                    <!-- Edit page -->
                                    <a href="/concerts-list/edit/<%= Concertslist[count]._id %>" class="btn btn-primary">
                                        <i class="fas fa-pencil-alt"></i> Edit
                                    </a>
                                </td>
                                <!-- Delete page -->
                                <td class="text-center col-1">
                                    <a href="/concerts-list/delete/<%= Concertslist[count]._id %>" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                </td>
                            <% } else { %>
                                <!-- Show only the basic info to logged out users-->
                                <td class="text-center col-2"><%= Concertslist[count].Artist %></td>
                                <td class="text-center col-2"><%= Concertslist[count].Genre %></td>
                                <td class="text-center col-1"><%= Concertslist[count].Date %></td>
                                <td class="text-center col-6"><%= Concertslist[count].Location %></td>
                                <td class="text-center col-1"><%= Concertslist[count].Cost %></td>
                            <% } %>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <!-- If nothing avaliable show no shows  -->
                        <td colspan="7" class="text-center">No concerts available currently.</td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>